body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #7F00FF, #E100FF);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header and navigation styles */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.logo a {
  font-size: 28px;
  color: white;
  font-weight: 500;
}

.menu ul {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
}

.header .menu a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-size: 16px;
  padding-bottom: 5px;
}

.header .menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: width 0.3s;
}

.header .menu a:hover::after {
  width: 90%;
}

/* Burger menu styles */
.burger {
  display: none;
  cursor: pointer;
  font-size: 1.8rem;
  position: relative;
  z-index: 99;
}

.burger svg {
  width: 1.5rem;
  height: 1.5rem;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu.active {
  display: flex;
  flex-direction: column;
  background-color: #8a24f1;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.menu.active a {
  color: #ffffff;
  padding: 10px;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    color: white;
  }

  .menu {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
  }

  .menu.active {
    display: flex;
  }
}

/* Main content styles */
.cont_page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.cont_page .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.left {
  flex: 1;
  min-width: 300px;
  margin-top: 10px;
}

.left h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.left p {
  font-size: 1.1em;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #ffffff;
}

.btn_page {
  display: inline-block;
  padding: 14px 80px;
  font-size: 1em;
  color: #E100FF;
  background-color: white;
  text-decoration: none;
  border-radius: 180px;
  transition: background-color 0.3s ease;
}

.btn_page:hover {
  background-color: #e4e6e9;
}

.right {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 440px;
}

.novar_cont{
  position: fixed;
  background-color: #fff;
  color: #7F00FF;
  width: 100%;
  top: 0;
  z-index: 999;
}

.cont{
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  align-items: center;
}

.novar_cont p{
  font-size: 18px;
  font-weight: 500;
}

.close-btn{
  background: none;
  border: 0;
  font-size: 30px;
  color: #7F00FF;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header .container{
    flex-direction: row;
  }
  .container {
    flex-direction: column;
    text-align: center;
    padding: 0 16px;
  }

  .right {
    margin-top: 20px;
  }

  .menu ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 80px;
}

.cont {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}
}

@media (max-width: 480px){
  .right img {
    height: 300px;
  }

  .left, .right{
    min-width: 0px;
  }

  .left h1 {
    font-size: 1.9rem;
    margin-bottom: 20px;
    color: #ffffff;
}
}